{% extends 'myauth/base.html' %}

{% block title %}
    user list
{% endblock %}

{% block body %}
    <h1>Users:</h1>
    {% if users %}
        <div>
        {% for user in users %}
            <p><a href="{% url 'myauth:user_detail' pk=user.pk %}"
            >Name: {{ user.username }}</a></p>
            <div>
            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">

            {% endif %}
            </div>


        {% endfor %}

        </div>
    {% else %}
        <h3>No users yet</h3>
    {% endif %}



{% endblock %}